@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.boton_personalizado{
    width: 15%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #acc236;
  
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  }

.boton_personalizado2{
    width: 15%;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #acc236;
 
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  }